<!doctype html>
<!--[if IE 9]> <html class="ie9 no-js" lang="{{ shop.locale }}"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js" lang="{{ shop.locale }}"> <!--<![endif]-->
<head>
  <!-- Basic page needs ================================================== -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <link rel="canonical" href="{{ canonical_url }}">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="theme-color" content="{{ settings.color_primary }}">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="author" content="Debutify">

  <!-- Fav icon ================================================== -->
  {% if settings.favicon %}
    <link sizes="192x192" rel="shortcut icon" href="{{ settings.favicon | img_url: '192x192' }}" type="image/png">
  {% endif %}

  <!-- Title and description ================================================== -->
  <title>
    {{ shop.name }}
  </title>

  {% if page_description %}
    <meta name="description" content="{{ page_description | escape }}">
  {% endif %}

  <!-- Social meta ================================================== -->
  {% include 'social-meta-tags' %}
  
  <!-- CSS ================================================== -->
  {{ 'timber.scss.css' | asset_url | stylesheet_tag }}
  {{ 'theme.scss.css' | asset_url | stylesheet_tag }}

  <!-- Vendors ================================================== -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  
  {{ 'jquery-2.2.3.min.js' | asset_url | script_tag }}
  
  <script src="{{ 'lazysizes.min.js' | asset_url }}" async="async"></script>
  
  <script src="{{ 'theme.js' | asset_url }}" defer="defer"></script>
  
  {{ 'modernizr.min.js' | asset_url | script_tag }}
  
  <!-- JS ================================================== -->
  <script>
    window.password = window.password || {};

    var password = {
      strings: {
        pageClose: {{ 'general.password_page.close' | t | json }}
      }
    }

    window.theme = window.theme || {};
    theme.strings = {
      addressError: {{ 'home_page.map.address_error' | t | json }},
      addressNoResults: {{ 'home_page.map.address_no_results' | t | json }},
      addressQueryLimit: {{ 'home_page.map.address_query_limit_html' | t | json }},
      authError: {{ 'home_page.map.auth_error_html' | t | json }}
    };
    theme.settings = {
      cartType: {{ settings.cart_type | json }}
    };
  </script>
  
  <!-- Header hook for plugins ================================================== -->
  {{ content_for_header }}
</head>

  <body class="template-password">

    <header class="password-page__header" role="banner"  data-section-id="{{ section.id }}" data-section-type="password-header">
      <div class="password-page__header__inner">
        {% comment %}
          Link to password modal
        {% endcomment %}
          <a href="#LoginModal" class="btn btn--small btn-outline-primary js-toggle-login-modal" data-mfp-src="#LoginModal">
            <span class="fas fa-lock" aria-hidden="true"></span>
            {{ 'general.password_page.password_link' | t }}
          </a>
      </div>
    </header>
    
    {{ content_for_layout }}
    
    <footer class="password-page__footer text-center" role="contentinfo">
      <div class="password-page__footer_inner">
        {% capture shopify %}
        <a rel="nofollow" class="shopify-link" href="https://www.shopify.com/?ref=debutify" target="_blank" title="Create your own online store with Shopify">
          {% include 'svg-definitions' with 'shopify-logo' %}
          <span class="shopify-name">Shopify</span>
        </a>
        {% endcapture %}
        {{ 'general.password_page.powered_by_shopify_html' | t: shopify: shopify }}
      </div>
    </footer>

    <div id="LoginModal" class="password-page__login-form text-center mfp-hide">
      <div class="box">
        <div class="wrapper">
          
          <div class="grid">
             <div class="grid__item large--one-third push--large--one-third text-center">
                <p class="h4">{{ 'general.password_page.login_form_heading' | t }}</p>
                {% form 'storefront_password' %}
                {{ form.errors | default_errors }}
                <label for="password" class="hidden-label">{{ 'general.password_page.login_form_password_label' | t }}</label>
                <div class="input-group">
                  <input type="password" name="password" id="password" class="input-group-field" placeholder="{{ 'general.password_page.login_form_password_placeholder' | t }}" autofocus>
                  <span class="input-group-btn">
                    <button type="submit" class="btn btn--primary password-page__login-form__submit">
                      <span class="fas fa-sign-in-alt" aria-hidden="true"></span>
                      <span class="sumbit-text">{{ 'general.password_page.login_form_submit' | t }}</span>
                    </button>
                  </span>
                </div>
                {% endform %}
                <hr class="hr">
                <p class="admin-login">{{ 'general.password_page.admin_link_html' | t }}</p>
            </div>
          </div>
          
        </div>
      </div>
    </div>
    
  </body>
</html>
