<div id="section-{{ section.id }}" class="{{ section.settings.section_style }}" data-section-id="{{ section.id }}" data-section-type="featured-content-section">
  <div class="box">
    <div class="wrapper">
      
        <div class="grid">
          <div class="grid__item large--eight-twelfths push--large--two-twelfths {{ section.settings.text_alignment }}">
            {% unless section.settings.title == blank %}
              <h2>{{ section.settings.title | escape }}</h2>
            {% endunless %}
            {% unless section.settings.text == blank %}
              <div class="rte {% if section.settings.text_size == 'large' %}lead {% endif %}">
                {{ section.settings.text }}
              </div>
            {% endunless %}
            {% unless section.settings.button_label == blank %}
              <a href="{{ section.settings.button_link }}" class="btn {{ section.settings.button_style }}">
                {{ section.settings.button_label | escape }}
              </a>
            {% endunless %}
          </div>
        </div>
  
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Featured content",
    "class": "featured-content-section",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Featured content"
      },
      {
        "type": "richtext",
        "id": "text",
        "label": "Text",
		"default": "<p>Use this text to share information about your brand with your customers. Describe a product, share announcements, or welcome customers to your store.</p>"
      },
      {
        "type": "select",
        "id": "section_style",
        "label": "Section style",
        "default": "",
        "options": [
          {
            "value": "",
            "label": "Default"
          },
		  {
            "value": "bg-section",
            "label": "Add background color"
          },
          {
            "value": "border-section",
            "label": "Add border top"
          }
        ]
      },
	  {
        "type": "select",
        "id": "text_size",
        "label": "Text size",
        "default": "large",
        "options": [
          {
            "value": "medium",
            "label": "Medium"
          },
          {
            "value": "large",
            "label": "Large"
          }
        ]
      },
	  {
        "type": "select",
        "id": "text_alignment",
        "label": "Text alignment",
        "default": "text-center",
        "options": [
          {
            "value": "",
            "label": "Left"
          },
 		  {
            "value": "text-center",
            "label": "Center"
          },
          {
            "value": "text-right",
            "label": "Right"
          }
        ]
      },	
	  {
        "type": "select",
        "id": "button_style",
        "label": "Button style",
        "default": "btn--primary",
        "options": [
          {
            "value": "",
			"label": "Default"
          },
          {
            "value": "btn--primary",
            "label": "Full"
          },
		  {
			"value": "btn-outline-primary",
            "label": "Outline"
          }
        ]
      },
      {
        "type": "text",
        "id": "button_label",
        "label": "Button label"
      },
      {
        "type": "url",
        "id": "button_link",
        "label": "Button link"
      }
    ],
    "presets": [
      {
        "name": "Featured content",
        "category": "Text"
      }
    ]
  }
{% endschema %}
