<style>
  .password-page__logo .logo {
    width: {{ section.settings.logo_max_width | escape }}px;
  }
</style>
  
<div id="section-{{ section.id }}" data-section-id="{{ section.id }}" data-section-type="password-section">
  <div class="box">
    <div class="wrapper">
      
      <div class="grid">
        <div class="grid__item large--one-third push--large--one-third text-center">
          <div class="password-page__logo">
              <h1 class="h2" itemscope itemtype="http://schema.org/Organization">
              {% assign logo_width = section.settings.logo_max_width | times: 1 %}
              {% if section.settings.logo != blank and logo_width <= 2048 %}
                {% capture image_size %}{{ section.settings.logo_max_width | escape }}x{% endcapture %}
                <img class="logo" src="{{ section.settings.logo | img_url: image_size }}" alt="{{ shop.name }}" itemprop="logo">
              {% else %}
                <span>{{ shop.name }}</span>
              {% endif %}
              </h1>
            <hr class="hr">
          </div>

          {% unless section.settings.title == blank %}
            <h2>{{ section.settings.title | escape }}</h2>
          {% endunless %}

          {% comment %}
            Password message which you can edit on http://www.shopify.com/admin/online_store/preferences
          {% endcomment %}

          {% unless shop.password_message == blank %}
            <p>{{ shop.password_message }}</p>
          {% endunless %}

          {% if section.settings.newsletter_enable %}
            <div class="password-page__signup-form">
              {% form 'customer' %}
                {{ form.errors | default_errors }}
                {% if form.posted_successfully? %}
                  <p class="form-success">{{ 'general.password_page.signup_form_success' | t }}</p>
                {% else %}
                  <p class="lead">{{ section.settings.newsletter_form_heading | escape }}</p>
                  <input type="hidden" name="contact[tags]" value="prospect, password page">
                  <label for="email" class="hidden-label">{{ 'general.password_page.signup_form_email_label' | t }}</label>
                  <div class="input-group">
                    <input type="text" name="contact[email]" id="email" class="input-group-field" placeholder="{{ section.settings.newsletter_placeholder | escape }}">
                    <span class="input-group-btn">
                      <button type="submit" class="btn btn--primary password-page__signup-form__submit">
                        <span class="fas fa-envelope" aria-hidden="true"></span>
                        <span class="sumbit-text">{{ section.settings.newsletter_button_text | escape }}</span>
                      </button>
                    </span>
                  </div>
                {% endif %}
              {% endform %}
            </div>
          {% endif %}

          {% if section.settings.show_share_buttons %}
            <div class="password-page__social-sharing">
              <hr class="hr--lg">
              <p class="password-page__signup-form__heading h5">{{ section.settings.social_message | escape }}</p>
              {% include 'social-sharing' %}
            </div>
          {% endif %}
        </div>
      </div>
      
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Password page",
    "class": "password-section",
    "settings": [
      {
        "type": "image_picker",
        "id": "logo",
        "label": "Logo image"
      },
      {
        "type": "text",
        "id": "logo_max_width",
        "label": "Custom logo width (in pixels, max 2048)",
        "default": "200"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Opening Soon"
      },
      {
        "type": "header",
        "content": "Newsletter"
      },
      {
        "type": "checkbox",
        "id": "newsletter_enable",
        "label": "Show newsletter signup",
        "default": true
      },
      {
        "type": "text",
        "id": "newsletter_form_heading",
        "label": "Newsletter form heading",
        "default": "Be the first to know when we launch.",
        "info": "[Tell your visitors about a launch day discount](https://www.shopify.com/blog/15514000-14-ways-to-use-offers-coupons-discounts-and-deals-to-drive-revenue-and-customer-loyalty)."
      },
      {
        "type": "text",
        "id": "newsletter_placeholder",
        "label": "Newsletter placeholder text",
        "default": "Email address"
      },
      {
        "type": "text",
        "id": "newsletter_button_text",
        "label": "Newsletter button text",
        "default": "Submit"
      },
      {
        "type": "header",
        "content": "Social sharing"
      },
      {
        "type": "checkbox",
        "id": "show_share_buttons",
        "label": "Show social sharing buttons",
        "default": true
      },
      {
        "type": "text",
        "id": "social_message",
        "label": "Social sharing buttons heading",
        "default": "Spread the word"
      }
    ]
  }
{% endschema %}