<!-- /templates/404.liquid -->
<div class="grid">
  <div class="grid__item large--eight-twelfths push--large--two-twelfths">
    
    <header class="section-header">
      <h1 class="page-title">{{ 'general.404.title' | t }}</h1>
      <p>{{ 'general.404.subtext_html' | t }}</p>
      <a href="{{ settings.browsing_link }}" class="btn {{ settings.browsing_button_style}} 404--continue-browsing">{{ 'cart.general.continue_browsing_html' | t }}</a>
    </header>
      
  </div>
</div>